<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie-edge">

  {% assets 'css' %}
  <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

  {% assets 'js'%}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
  <title>Flask + htmlx + Tailwind CSS</title>
</head>
<body class="bg-blue-100">
  {% block content %}
  {% endblock content %}
</body>
</html>

